# Prerequisites
*.d

# Compiled Object files
*.*obj

# Precompiled Headers
*.gch
*.pch

# Compiled Static libraries
*.lib
*.exp
*.*db

# Temporary and hidden
*./
.*
_*
*.bak*
*.old*

# Tools
*.bat
*.cmd
*.vbs
*.*_*


# Explicitly included
!.git*
!*.dll
!*.msi
!.md*
!.sha*
