<?xml version="1.0" encoding="UTF-8"?>

<?include Variables.wxi?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
	<Product Id="$(var.ProductId)" Name="$(var.ProductName) $(var.PlatformUIText)" Version="$(var.ProductVersion).0"
			Language="!(loc.Language)" Manufacturer="!(loc.AuthorName)" UpgradeCode="$(var.UpgradeCode)">
		<Package InstallerVersion="500" Compressed="yes" InstallScope="perMachine" Description="$(var.ProductDescr)"
				Manufacturer="!(loc.AuthorName)" Keywords="SVG,WMF,EMF,WIC,Decoder,Thumbnail,Extension,Installer,MSI,Database"
				Comments="Distributed under GNU GPLv3. Source code URL: &lt;$(var.ProductURL)&gt;" SummaryCodepage="!(loc.Codepage)"/>
		
		<MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" AllowSameVersionUpgrades="yes"
				IgnoreRemoveFailure="yes" Schedule="afterInstallInitialize"/>

	<?ifdef Debug?>
		<Property Id="MsiLogging" Value="iwearucmov!"/>
	<?endif?>

		<Property Id="WINDOWSBUILD">
			<RegistrySearch Id="WindowsBuild" Root="HKLM" Key="$(var.RegPath_SetupNT)" Name="CurrentBuild" Type="raw"/>
		</Property>
		<Property Id="WINDOWSBUILD2">
			<RegistrySearch Id="WindowsBuild2" Root="HKLM" Key="$(var.RegPath_SetupNT)" Name="CurrentBuildNumber" Type="raw"/>
		</Property>
		
	<?if $(var.Platform) = x64?>
		<Condition Message="!(loc.x86Required)"><![CDATA[Installed OR VersionNT64]]></Condition>
	<?elseif $(var.Platform) = x86?>
		<Condition Message="!(loc.x64Required)"><![CDATA[Installed OR NOT VersionNT64]]></Condition>
	<?else?>
		<?error Platform must be either x64 or x86?>
	<?endif?>
		
		<Condition Message="!(loc.Win1703Required)">
			<![CDATA[Installed OR WINDOWSBUILD >= 15063 OR WINDOWSBUILD2 >= 15063]]>
		</Condition>
		
		<Media Id="1" Cabinet="single.cab" EmbedCab="yes"/>

		<Icon Id="AppIcon" SourceFile="$(var.ResourcePath)\SVGWView.ico"/>
		<Property Id="ARPPRODUCTICON" Value="AppIcon"/>
		<Property Id="ARPURLINFOABOUT" Value="$(var.ProductURL)"/>
		<Property Id="ARPURLUPDATEINFO" Value="$(var.ProductURL)"/>
		<Property Id="ARPHELPLINK" Value="$(var.ProductURL)"/>
		
		<Property Id="INSTALLDIR">
			<ComponentSearch Id="MainFilesDir" Guid="$(var.MainFilesGuid)" Type="directory"/>
		</Property>

		<Property Id="INSTALLLEVEL" Value="$(var.InstallLevel)"/>

		<PropertyRef Id="WMZKINDSET"/>
		<PropertyRef Id="EMZKINDSET"/>
		
		<Property Id="SVGTHUMBSIN">
			<ComponentSearch Id="SVGThumbsIn" Guid="$(var.SvgThumbsGuid)"/>
		</Property>
		<Property Id="WMFTHUMBSIN">
			<ComponentSearch Id="WMFThumbsIn" Guid="$(var.WmfThumbsGuid)"/>
		</Property>
		
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="$(var.ProgramFilesDir)" Name="PFiles">
				<Directory Id="INSTALLDIR" Name="$(var.KeyName)" FileSource="$(var.FileSourcePath)"/>
			</Directory>
		</Directory>
		
		<FeatureRef Id="MainProgram">
			<FeatureRef Id="SVGThumbs"/>
			<FeatureRef Id="WMFThumbs"/>
		</FeatureRef>
		
		<UIRef Id="UISequence"/>
	
	</Product>
	

	<Fragment>
		<ComponentGroup Id="MainProgram" Directory="INSTALLDIR">
			
			<Component Id="MainFiles" Guid="$(var.MainFilesGuid)" Win64="$(var.Win64)">
				<File Id="MainDll" Name="$(var.KeyName).dll" KeyPath="yes" Vital="yes" Checksum="yes" Source="$(var.FileSourcePath)$(var.KeyName).dll"/>
			</Component>
			<Component Id="DocFiles" Guid="$(var.DocFilesGuid)">
				<File Id="LicenseTxt" Name="License.txt" ShortName="License.txt" Source="Res\gpl-3.0.txt"/>
				<File Id="SourceUrl" Name="Source repository.url" ShortName="Source.url" Source="Res\SourceUrl.url"/>
				<File Id="SourceZipUrl" Name="Download source.url" ShortName="SrcZip.url" Source="Res\SourceZip.url"/>
			</Component>
			
			<Component Id="SVGDecoder" Guid="$(var.SvgDecoderGuid)">
				
				<RegistryKey Root="HKCR" Key="CLSID\$(var.CLSID_SvgDecoder)" ForceDeleteOnUninstall="yes">				
					<RegistryValue Type="string" Value="!(loc.SVGDecoder)"/>
					<RegistryValue Type="string" Name="Author" Value="!(loc.AuthorName)"/>
					<RegistryValue Type="string" Name="ContainerFormat" Value="$(var.GUID_ContainerFormatSvg)"/>
					<RegistryValue Type="string" Name="FileExtensions" Value=".svg,.svgz"/>
					<RegistryValue Type="string" Name="FriendlyName" Value="!(loc.SVGDecoder)"/>
					<RegistryValue Type="string" Name="MimeTypes" Value="image/svg+xml"/>
					<RegistryValue Type="string" Name="Vendor" Value="$(var.GUID_AE_VendorID)"/>
					<RegistryValue Type="integer" Name="SupportAnimation" Value="0"/>
					<RegistryValue Type="integer" Name="SupportChromaKey" Value="1"/>
					<RegistryValue Type="integer" Name="SupportMultiframe" Value="0"/>
					
					<RegistryKey Key="InprocServer32">
						<RegistryValue Type="string" Value="[#MainDll]" KeyPath="yes"/>
						<RegistryValue Type="string" Name="ThreadingModel" Value="Both"/>
					</RegistryKey>

					<RegistryKey Key="Formats\(var.GUID_WICPixelFormat32bppBGRA)" ForceCreateOnInstall="yes"/>
					<RegistryKey Key="Formats\(var.GUID_WICPixelFormat32bppPBGRA)" ForceCreateOnInstall="yes"/>
				</RegistryKey>

				<RegistryKey Root="HKCR" Key="$(var.RegPath_WICDecoders)\$(var.CLSID_SvgDecoder)" ForceDeleteOnUninstall="yes">
					<RegistryValue Type="string" Name="CLSID" Value="$(var.CLSID_SvgDecoder)"/>
					<RegistryValue Type="string" Name="FriendlyName" Value="!(loc.SVGDecoder)"/>
				</RegistryKey>
				
			</Component>
				
			<Component Id="WMFDecoder" Guid="$(var.WmfDecoderGuid)">
				
				<RegistryKey Root="HKCR" Key="CLSID\$(var.CLSID_WmfDecoder)" ForceDeleteOnUninstall="yes">
					<RegistryValue Type="string" Value="!(loc.WMFDecoder)"/>
					<RegistryValue Type="string" Name="Author" Value="!(loc.AuthorName)"/>
					<RegistryValue Type="string" Name="ContainerFormat" Value="$(var.GUID_ContainerFormatWmf)"/>
					<RegistryValue Type="string" Name="FileExtensions" Value=".emf,.wmf,.emz,.wmz"/>
					<RegistryValue Type="string" Name="FriendlyName" Value="!(loc.WMFDecoder)"/>
					<RegistryValue Type="string" Name="MimeTypes" Value="image/x-wmf,image/x-emf"/>
					<RegistryValue Type="string" Name="Vendor" Value="$(var.GUID_AE_VendorID)"/>
					<RegistryValue Type="integer" Name="SupportAnimation" Value="0"/>
					<RegistryValue Type="integer" Name="SupportChromaKey" Value="1"/>
					<RegistryValue Type="integer" Name="SupportMultiframe" Value="0"/>

					<RegistryKey Key="InprocServer32">
						<RegistryValue Type="string" Value="[#MainDll]" KeyPath="yes"/>
						<RegistryValue Type="string" Name="ThreadingModel" Value="Both"/>
					</RegistryKey>

					<RegistryKey Key="Patterns">
						<RegistryKey Key="0">
							<RegistryValue Type="integer" Name="Length" Value="4"/>
							<RegistryValue Type="integer" Name="Position" Value="0"/>
							<RegistryValue Type="binary" Name="Mask" Value="FFFFFFFF"/>
							<RegistryValue Type="binary" Name="Pattern" Value="D7CDC69A"/>
						</RegistryKey>
						<RegistryKey Key="1">
							<RegistryValue Type="integer" Name="Length" Value="44"/>
							<RegistryValue Type="integer" Name="Position" Value="0"/>
							<RegistryValue Type="binary" Name="Mask" Value="FFFFFFFF000000000000000000000000000000000000000000000000000000000000000000000000FFFFFFFF"/>
							<RegistryValue Type="binary" Name="Pattern" Value="0100000000000000000000000000000000000000000000000000000000000000000000000000000020454D46"/>
						</RegistryKey>
						<RegistryKey Key="2">
							<RegistryValue Type="integer" Name="Length" Value="6"/>
							<RegistryValue Type="integer" Name="Position" Value="0"/>
							<RegistryValue Type="binary" Name="Mask" Value="FFFF0000FFFF"/>
							<RegistryValue Type="binary" Name="Pattern" Value="020000000003"/>
						</RegistryKey>
						<RegistryKey Key="3">
							<RegistryValue Type="integer" Name="Length" Value="6"/>
							<RegistryValue Type="integer" Name="Position" Value="0"/>
							<RegistryValue Type="binary" Name="Mask" Value="FFFF0000FFFF"/>
							<RegistryValue Type="binary" Name="Pattern" Value="020000000001"/>
						</RegistryKey>
					</RegistryKey>

					<RegistryKey Key="Formats\(var.GUID_WICPixelFormat32bppBGRA)" ForceCreateOnInstall="yes"/>
					<RegistryKey Key="Formats\(var.GUID_WICPixelFormat32bppPBGRA)" ForceCreateOnInstall="yes"/>
				</RegistryKey>

				<RegistryKey Root="HKCR" Key="$(var.RegPath_WICDecoders)\$(var.CLSID_WmfDecoder)" ForceDeleteOnUninstall="yes">
					<RegistryValue Type="string" Name="CLSID" Value="$(var.CLSID_WmfDecoder)"/>
					<RegistryValue Type="string" Name="FriendlyName" Value="!(loc.WMFDecoder)"/>
				</RegistryKey>
				
			</Component>
		
		</ComponentGroup>	
		
		<Feature Id="MainProgram" Absent="disallow" AllowAdvertise="no" Display="expand" InstallDefault="local"
				ConfigurableDirectory="INSTALLDIR" Title="!(loc.MainProgram)" Description="!(loc.MainProgramDescr)">
			<ComponentGroupRef Id="MainProgram"/>
		</Feature>
	</Fragment>
	
	<Fragment>
		<Component Id="SVGThumbs" Directory="INSTALLDIR" Guid="$(var.SvgThumbsGuid)">
			
			<RegistryKey Root="HKCR" Key="CLSID\$(var.CLSID_SvgThumbnailProvider)" ForceDeleteOnUninstall="yes">
				<RegistryValue Type="string" Value="!(loc.SVGThumbs)"/>
				
				<RegistryKey Key="InprocServer32">
					<RegistryValue Type="string" Value="[#MainDll]" KeyPath="yes"/>
					<RegistryValue Type="string" Name="ThreadingModel" Value="Apartment"/>
				</RegistryKey>
			</RegistryKey>

			<RegistryKey Root="HKCR" Key=".svg">
				<RegistryValue Key="$(var.RegPath_ThumbExt)" Type="string" Value="$(var.CLSID_SvgThumbnailProvider)"/>
				<RegistryValue Key="DefaultIcon" Type="string" Value="[#MainDll],-101"/>
			</RegistryKey>
			<RegistryValue Root="HKLM" Key="$(var.RegPath_PropHandlers)\.svg"
					Type="string" Value="$(var.CLSID_SvgThumbnailProvider)"/>
			<RegistryKey Root="HKCR" Key="SystemFileAssociations\.svg">
				<RegistryValue Key="$(var.RegPath_ThumbExt)" Type="string" Value="$(var.CLSID_SvgThumbnailProvider)"/>
				<RegistryValue Type="string" Name="ExtendedTileInfo" Value="$(var.SvgExtendedTileInfo)"/>
				<RegistryValue Type="string" Name="InfoTip" Value="$(var.SvgInfoTip)"/>
				<RegistryValue Type="string" Name="PreviewDetails" Value="$(var.SvgPreviewDetails)"/>
				<RegistryValue Type="string" Name="FullDetails" Value="$(var.SvgFullDetails)"/>
			</RegistryKey>

			<RegistryKey Root="HKCR" Key=".svgz">
				<RegistryValue Key="$(var.RegPath_ThumbExt)" Type="string" Value="$(var.CLSID_SvgThumbnailProvider)"/>
				<RegistryValue Key="DefaultIcon" Type="string" Value="[#MainDll],-102"/>
			</RegistryKey>
			<RegistryValue Root="HKLM" Key="$(var.RegPath_PropHandlers)\.svgz"
					Type="string" Value="$(var.CLSID_SvgThumbnailProvider)"/>
			<RegistryKey Root="HKCR" Key="SystemFileAssociations\.svgz">
				<RegistryValue Key="$(var.RegPath_ThumbExt)" Type="string" Value="$(var.CLSID_SvgThumbnailProvider)"/>
				<RegistryValue Type="string" Name="ExtendedTileInfo" Value="$(var.SvgExtendedTileInfo)"/>
				<RegistryValue Type="string" Name="InfoTip" Value="$(var.SvgInfoTip)"/>
				<RegistryValue Type="string" Name="PreviewDetails" Value="$(var.SvgPreviewDetails)"/>
				<RegistryValue Type="string" Name="FullDetails" Value="$(var.SvgFullDetails)"/>
			</RegistryKey>
			
		</Component>
		
		<Component Id="SVGNoIsolation" Directory="INSTALLDIR">
			<Condition><![CDATA[$SVGThumbs = 3 OR (?SVGThumbs = 3 AND $SVGThumbs = -1)]]></Condition>
			<RegistryValue Root="HKCR" Key="CLSID\$(var.CLSID_SvgThumbnailProvider)" Name="DisableProcessIsolation" Type="integer" Value="1"/>
		</Component>
		
		<Feature Id="SVGThumbs" Absent="allow" AllowAdvertise="no" InstallDefault="local"
				Level="2" Title="!(loc.SVGThumbs)" Description="!(loc.SVGThumbsDescr)">
			
			<ComponentRef Id="SVGThumbs"/>
			<ComponentRef Id="SVGTypes"/>
			
			<Condition Level="$(var.NoInstallLevel)"><![CDATA[Installed AND (NOT SVGTHUMBSIN)]]></Condition>
			
			<Feature Id="SVGNoIsolation" Absent="allow" AllowAdvertise="no" InstallDefault="followParent"
						Level="$(var.NoInstallLevel)" Title="!(loc.DisableProcessIsolation)" Description="!(loc.DisableProcessIsolationDescr)">
				<ComponentRef Id="SVGNoIsolation"/>
				<Condition Level="$(var.InstallLevel)"><![CDATA[Installed AND ?SVGNoIsolation = 3]]></Condition>
			</Feature>
			
		</Feature>
	</Fragment>
	
	<Fragment>
		<Component Id="WMFThumbs" Directory="INSTALLDIR" Guid="$(var.WmfThumbsGuid)">
			
			<RegistryKey Root="HKCR" Key="CLSID\$(var.CLSID_WmfThumbnailProvider)" ForceDeleteOnUninstall="yes">
				<RegistryValue Type="string" Value="!(loc.WMFThumbs)"/>

				<RegistryKey Key="InprocServer32">
					<RegistryValue Type="string" Value="[#MainDll]" KeyPath="yes"/>
					<RegistryValue Type="string" Name="ThreadingModel" Value="Apartment"/>
				</RegistryKey>
			</RegistryKey>

			<RegistryValue Root="HKCR" Key=".emf\$(var.RegPath_ThumbExt)" Type="string" Value="$(var.CLSID_WmfThumbnailProvider)"/>
			<RegistryValue Root="HKLM" Key="$(var.RegPath_PropHandlers)\.emf"
					Type="string" Value="$(var.CLSID_WmfThumbnailProvider)"/>
			<RegistryKey Root="HKCR" Key="SystemFileAssociations\.emf">
				<RegistryValue Key="$(var.RegPath_ThumbExt)" Type="string" Value="$(var.CLSID_WmfThumbnailProvider)"/>
				<RegistryValue Type="string" Name="ExtendedTileInfo" Value="$(var.WmfExtendedTileInfo)"/>
				<RegistryValue Type="string" Name="InfoTip" Value="$(var.WmfInfoTip)"/>
				<RegistryValue Type="string" Name="PreviewDetails" Value="$(var.WmfPreviewDetails)"/>
				<RegistryValue Type="string" Name="FullDetails" Value="$(var.WmfFullDetails)"/>
			</RegistryKey>
			
			<RegistryValue Root="HKCR" Key=".emz\$(var.RegPath_ThumbExt)" Type="string" Value="$(var.CLSID_WmfThumbnailProvider)"/>
			<RegistryValue Root="HKLM" Key="$(var.RegPath_PropHandlers)\.emz"
					Type="string" Value="$(var.CLSID_WmfThumbnailProvider)"/>
			<RegistryKey Root="HKCR" Key="SystemFileAssociations\.emz">
				<RegistryValue Key="$(var.RegPath_ThumbExt)" Type="string" Value="$(var.CLSID_WmfThumbnailProvider)"/>
				<RegistryValue Type="string" Name="ExtendedTileInfo" Value="$(var.WmfExtendedTileInfo)"/>
				<RegistryValue Type="string" Name="InfoTip" Value="$(var.WmfInfoTip)"/>
				<RegistryValue Type="string" Name="PreviewDetails" Value="$(var.WmfPreviewDetails)"/>
				<RegistryValue Type="string" Name="FullDetails" Value="$(var.WmfFullDetails)"/>
			</RegistryKey>
			
			<RegistryValue Root="HKCR" Key=".wmf\$(var.RegPath_ThumbExt)" Type="string" Value="$(var.CLSID_WmfThumbnailProvider)"/>
			<RegistryValue Root="HKLM" Key="$(var.RegPath_PropHandlers)\.wmf"
					Type="string" Value="$(var.CLSID_WmfThumbnailProvider)"/>
			<RegistryKey Root="HKCR" Key="SystemFileAssociations\.wmf">
				<RegistryValue Key="$(var.RegPath_ThumbExt)" Type="string" Value="$(var.CLSID_WmfThumbnailProvider)"/>
				<RegistryValue Type="string" Name="ExtendedTileInfo" Value="$(var.WmfExtendedTileInfo)"/>
				<RegistryValue Type="string" Name="InfoTip" Value="$(var.WmfInfoTip)"/>
				<RegistryValue Type="string" Name="PreviewDetails" Value="$(var.WmfPreviewDetails)"/>
				<RegistryValue Type="string" Name="FullDetails" Value="$(var.WmfFullDetails)"/>
			</RegistryKey>
			
			<RegistryValue Root="HKCR" Key=".wmz\$(var.RegPath_ThumbExt)" Type="string" Value="$(var.CLSID_WmfThumbnailProvider)"/>
			<RegistryValue Root="HKLM" Key="$(var.RegPath_PropHandlers)\.wmz"
					Type="string" Value="$(var.CLSID_WmfThumbnailProvider)"/>
			<RegistryKey Root="HKCR" Key="SystemFileAssociations\.wmz">
				<RegistryValue Key="$(var.RegPath_ThumbExt)" Type="string" Value="$(var.CLSID_WmfThumbnailProvider)"/>
				<RegistryValue Type="string" Name="ExtendedTileInfo" Value="$(var.WmfExtendedTileInfo)"/>
				<RegistryValue Type="string" Name="InfoTip" Value="$(var.WmfInfoTip)"/>
				<RegistryValue Type="string" Name="PreviewDetails" Value="$(var.WmfPreviewDetails)"/>
				<RegistryValue Type="string" Name="FullDetails" Value="$(var.WmfFullDetails)"/>
			</RegistryKey>
						
		</Component>

		<Component Id="WMFNoIsolation" Directory="INSTALLDIR">
			<Condition><![CDATA[$WMFThumbs = 3 OR (?WMFThumbs = 3 AND $WMFThumbs = -1)]]></Condition>
			<RegistryValue Root="HKCR" Key="CLSID\$(var.CLSID_WmfThumbnailProvider)" Name="DisableProcessIsolation" Type="integer" Value="1"/>
		</Component>
		
		<Feature Id="WMFThumbs" Absent="allow" AllowAdvertise="no" InstallDefault="local" Level="2"
				Display="collapse" Title="!(loc.WMFThumbs)" Description="!(loc.WMFThumbsDescr)">
			
			<ComponentRef Id="WMFThumbs"/>
			<ComponentGroupRef Id="WMFAllTypes"/>

			<Condition Level="$(var.NoInstallLevel)"><![CDATA[Installed AND (NOT WMFTHUMBSIN)]]></Condition>

			<Feature Id="WMFNoIsolation" Absent="allow" AllowAdvertise="no" InstallDefault="followParent"
						Level="$(var.NoInstallLevel)" Title="!(loc.DisableProcessIsolation)" Description="!(loc.DisableProcessIsolationDescr)">
				<ComponentRef Id="WMFNoIsolation"/>
				<Condition Level="$(var.InstallLevel)"><![CDATA[Installed AND ?WMFNoIsolation = 3]]></Condition>
			</Feature>
			
		</Feature>
		
	</Fragment>


	<Fragment>
		<Component Id="SVGTypes" Directory="INSTALLDIR" Guid="$(var.SvgTypesGuid)">

			<RegistryKey Root="HKLM" Key="$(var.RegPath_Setup)">
				
				<RegistryKey Key="Explorer\KindMap">
					<RegistryValue Type="string" Name=".svg" Value="picture"/>
					<RegistryValue Type="string" Name=".svgz" Value="picture"/>
				</RegistryKey>
				
				<RegistryValue Key="PhotoPropertyHandler\.svg" Type="string" Value="$(var.CLSID_SvgThumbnailProvider)"/>
				<RegistryValue Key="PhotoPropertyHandler\.svgz" Type="string" Value="$(var.CLSID_SvgThumbnailProvider)"/>
				
			</RegistryKey>
			
		</Component>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="WMFAllTypes" Directory="INSTALLDIR">
			<Component Id="WMFTypes" Guid="$(var.WmfTypesGuid)">

				<RegistryKey Root="HKLM" Key="$(var.RegPath_Setup)">

					<RegistryKey Key="Explorer\KindMap">
						<RegistryValue Type="string" Name=".wmf" Value="picture"/>
						<RegistryValue Type="string" Name=".emf" Value="picture"/>
					</RegistryKey>
					
					<RegistryValue Key="PhotoPropertyHandler\.wmf" Type="string" Value="$(var.CLSID_WmfThumbnailProvider)"/>
					<RegistryValue Key="PhotoPropertyHandler\.wmz" Type="string" Value="$(var.CLSID_WmfThumbnailProvider)"/>
					<RegistryValue Key="PhotoPropertyHandler\.emf" Type="string" Value="$(var.CLSID_WmfThumbnailProvider)"/>
					<RegistryValue Key="PhotoPropertyHandler\.emz" Type="string" Value="$(var.CLSID_WmfThumbnailProvider)"/>
					
				</RegistryKey>
			
			</Component>

			<Component Id="WMZType">
				<RegistryValue Root="HKLM" Key="$(var.RegPath_Setup)\Explorer\KindMap" Type="string" Name=".wmz" Value="picture"/>
				<Condition><![CDATA[NOT WMZKINDSET]]></Condition>
			</Component>

			<Component Id="EMZType">
				<RegistryValue Root="HKLM" Key="$(var.RegPath_Setup)\Explorer\KindMap" Type="string" Name=".emz" Value="picture"/>
				<Condition><![CDATA[NOT EMZKINDSET]]></Condition>
			</Component>
			
		</ComponentGroup>

		<Property Id="WMZKINDSET">
			<RegistrySearch Id="WMZKindSet" Root="HKLM" Key="$(var.RegPath_Setup)\Explorer\KindMap" Name=".wmz" Type="raw"/>
		</Property>
		<Property Id="EMZKINDSET">
			<RegistrySearch Id="EMZKindSet" Root="HKLM" Key="$(var.RegPath_Setup)\Explorer\KindMap" Name=".emz" Type="raw"/>
		</Property>
		
	</Fragment>

</Wix>
